/*CSS to style the forms
*/
.signUpForm{
	margin-top: 100px;
	margin-left: 300px;
}

.signUpForm form{
	background-color: rgb(200,200,200);
	padding: 100px;
}

.signUpForm input{
	
	margin-top: 10px;
	margin-left: 20px;


}